$positiveNumberColor: rgb(0, 200, 0);
$negativeNumberColor: red;
$headerBackgroundColor: rgb(69, 2, 177);
$headerHeight: 50px;
$sidebarWidth: 200px;
$ledgerFilterHeight: 160px;
$MenuIconMaxWidth: 768px;