@import './setting.scss';

.charge-type-filter {
  // min-width: 500px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;

  label {
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
}

@media all and (max-width:1280px) {
  .charge-type-filter {
    width: 100%;
  }
}