@import './setting.scss';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $headerHeight;
  color: white;
  background-color: $headerBackgroundColor;
  padding: 0 20px;

  &--sticky {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
  }

  h1 {
    margin: 0;
  }

  &__menu {
    display: flex;
    align-items: center;
    height: inherit;

    ul {
      display: flex;
      height: inherit;
      padding: 0;
      margin: 0;

      li {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 100px;
        height: inherit;
        margin: 0 0 0 10px;
        list-style-type: none;

        &:nth-child(1) {
          margin: 0;
        }

        &:hover {
          background-color: #00ffff8c;
        }
      }
    }
  }

  &__mobile-menu-button {
    display: none;
  }
}

@media all and (max-width: $MenuIconMaxWidth) {
  .header {
    &__menu {
      ul {
        li {
          min-width: 50px;
        }
      }
    }

    &__mobile-menu-button {
      display: block;
    }
  }
}